{% extends "base.html" %}

{% block title %} Clubs {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='clubs.css')}}">
{% endblock %}

{% block content %}
<h1 class="title"> Clubs </h1>

<table>
    <thead>
        <tr>
            <th> Day/Period </th>
            <th> Morning (8:00am -> 8:45am) </th>
            <th> Lunch Pt 1 (12:05pm -> 12:25pm) </th>
            <th> Lunch Pt 2 (12:25pm -> 1:05pm) </th>
            <th> Afternoon (3:50pm -> 5:00pm) </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th> {{club_days[0]}}</th>
            {% for club in system.students[student_id].clubs[0] %}
                <td> {{club}} </td>
            {% endfor %}
        </tr>

        <tr>
            <th> {{club_days[1]}}</th>
            {% for club in system.students[student_id].clubs[1] %}
                <td> {{club}}</td>
            {% endfor %}
        </tr>

        <tr>
            <th> {{club_days[2]}}</th>
            {% for club in system.students[student_id].clubs[2] %}
                <td> {{club}} </td>
            {% endfor %}
        </tr>

        <tr>
            <th> {{club_days[3]}}</th>
            {% for club in system.students[student_id].clubs[3] %}
                <td> {{club}}</td>
            {% endfor %}
        </tr>

        <tr>
            <th> {{club_days[4]}}</th>
            {% for club in system.students[student_id].clubs[4] %}
                <td> {{club}} </td>
            {% endfor %} 
        </tr>
    </tbody>
</table>


<!-- List out the options for clubs -->
<div class="categories">
    <div class="category">
        <!-- Display the science clubs -->
        <details>
            <summary><b> Science Clubs </b></summary>
            <ul>
                {% for science_club in system.science_clubs %}

                <li>
                    <h3 id="club-name">{{science_club.name | title}}</h3>

                    <h4> {{science_club.day | title}} {{system.identify_club_time_slot(science_club)}}</h4>
                    <form method="POST">
                        <input type="hidden" name="club_id" value="{{science_club.club_id}}">
                        <button type="submit"> Add Club </button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </details>
    </div>
    <!-- Display the social science clubs -->
    <div class="category">
        <details>
            <summary><b> Social Science Clubs </b></summary>
            <ul>
                {% for social_science_club in system.social_science_clubs %}
                <li>
                    <h3 id="club-name"> {{social_science_club.name | title}}</h3>

                    <h4> {{social_science_club.day | title}} {{system.identify_club_time_slot(social_science_club)}}
                    </h4>
                    <form method="POST">
                        <input type="hidden" name="club_id" value="{{social_science_club.club_id}}">
                        <button type="submit"> Add Club </button>
                    </form>
                </li>
                {% endfor %}
            </ul>

        </details>
    </div>

    <div class="category">
        <details>
            <summary><b> Music Clubs </b></summary>
            <ul>
                {% for music_club in system.music_clubs %}
                <li>
                    <h3 id="club-name"> {{music_club.name | title}}</h3>
                    <h4> {{music_club.day | title}} {{system.identify_club_time_slot(music_club)}}</h4>
                    <form method="POST">
                        <input type="hidden" name="club_id" value="{{music_club.club_id}}">
                        <button type="submit"> Add Club </button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </details>
    </div>

    <div class="category">
        <details>
            <summary><b> Sports Clubs </b></summary>
            <ul>
                {% for sport_club in system.sport_clubs %}
                <li>
                    <h3 id="club-name"> {{sport_club.name | title}}</h3>
                    <h4> {{sport_club.day | title}} {{system.identify_club_time_slot(sport_club)}}</h4>
                    <form method="POST">
                        <input type="hidden" name="club_id" value="{{sport_club.club_id}}">
                        <button type="submit"> Add Club </button>
                    </form>
                </li>
                {% endfor %}

            </ul>
        </details>
    </div>
</div>
{% endblock %}    #


















  