{% extends "base.html"%}

{% block title %} Student Profile {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='student_profile.css')}}">
{% endblock %}



{% block content %}
<div class="block"></div>


<h1 class="title"> Student Profile </h1>
<div class="body">
    {% for key, value in student.__dict__.items() %}
        {% if key != 'subjects'and key !='clubs'%}
            <h2><b>{{ key | title}}:</b> <span style="font-weight: normal;">{{ value | title }}</span></h2> 
            {% endif %}
    {% endfor %}

    <div class="gap"></div>



    <h2> Currently studying {{subjects | length}} subjects in:</h2>
    <ul>
        {% for subject in subjects %}
        <li><h2><span style="font-weight: normal;"> {{subject | title}}</span> </h2></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}