h1 {
    color: crimson !important; 
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-size: larger;
}

.navigation-bar {
    width: 100%;
    height: 50px;
    background-color: lightcoral;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    display: flex;
    color: white;
}

.title {
    text-align: center;
}

a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:hover {
    color: white;
    background-color: crimson
}
.header-image {
    display: block;
    width: 100%;
    height: 290px;
    overflow: hidden;
}

.header-image img {
    object-position: center 27%;
    opacity: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}



body {
    margin: 0;
}

table {
    border-collapse: collapse;
    border: 3px solid crimson;
    margin: 10px auto;
    width: 1200px;
    font-size: 17px;
    position: center;
}

th {
    border: 2px solid crimson;
    padding: 8px;
    text-align: center;
    color: whitesmoke;
    background-color: lightcoral;
}

td {
    border: 2px solid crimson;
    text-align: center;
}

.break-line {
    border: none;
    height: 5px;
    background-color: crimson;
    width: 1300px; 
}

.left {
    flex: 1;
    margin-right: 70px;
    text-align: left;
}

.right {
    flex: 1;
    margin-right: 70px;
    text-align: right;
}

.subject {
    text-decoration: underline;
    margin: 20px;
    color: crimson;
}



