.left, .right {
    flex: 1;
    margin-right: 70px;
    text-align: center;
}

#date {
    width: 150px;
    margin: 20px;
    padding: 10px auto;
}

#failure-message {
    text-align: right;
}
.content {
    margin: 20px;
    width: 10px;
}


.bulletin-entries {
    text-align: left;
    margin: 20px;
}

.notice-subject {
    text-decoration: underline;
    margin: 20px;
    color: crimson;
}


.sort-form {
    text-align: right;
    margin-left: 20px;
    font-size: 19px;
}


.sort-form h2 {
    text-decoration: underline;
    color: crimson;
}

.body {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

li {
    font-size: 18.72px;

} 

.line {
    border: none;
    height: 5px;
    background-color: crimson;
    width: 1300px;
    
    
}

p {
    font-size: 19px;
    width: 1250px;
}


#sort-options {
    text-align: left;
    margin-left: -5px;
}