#date {
    width: 150px;
    margin: 20px;
    padding: 10px auto;
}

#failure-message {
    text-align: right;
}
.notice-content {
    margin: 20px;
    width: 10px;
}

.bulletin-entries {
    text-align: left;
    margin: 5px;
}

.sort-form {
    text-align: left;
    font-size: 19px;
    width: 150px;
}


.sort-form h2 {
    text-decoration: underline;
    color: crimson;
}

.body {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

li {
    font-size: 18.72px;
} 

p {
    font-size: 19px;
    width: 1250px;
}


#sort-options {
    text-align: left;
    margin-left: -5px;
}