#category {
    width: 180px;
    margin: 20px;
    padding: 10px auto;
}

.club-name {
    color: crimson
}

summary {
    font-size: 20px;
    text-align: center;
}

summary:hover {
    background-color: lightcoral;
    color: white;
    font-size: 20px;
    text-align: center;

}


.categories {
    display:flex; /* arrange each category in a row */
    justify-content: center; /* center the row horizontally */ 
    gap: 50px; /* create space between each category */
    padding: 20px;
    height: 1500px;
    overflow: scroll;
    text-align: center;
}

.category {
    text-align: left;
    max-width: 800px;
    min-width: 250px;
    padding: 20px auto;
    justify-content: center;
}
#club-name {
    color: crimson;
    text-align: center;
    align-items: left;
    text-align: left;
    font-size: 25px;
}
#bullet-point {
    color: crimson;
}



button:hover {
    background-color: lightcoral;
    color: white
}

button {
    border: 1px dashed crimson;
}